{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
	<div class="modal fade in" id="aModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">HOLA!</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Welcome To Tourista!</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Browse Through Our Destinations!</button>
	      </div>
	    </div>
	  </div>
	</div>
  <div class="bd-example">
	  <div id="dest" class="carousel slide caro_fix" data-ride="carousel">
	  	
		    <ol class="carousel-indicators">
		    	{% for destination in destinations %}
		    	    {% if forloop.first %} 
			  			<li data-target="#dest" data-slide-to="destination.id" class="active"></li>
			  		{%endif%}
			  		{% if not forloop.first %} 
			  			<li data-target="#dest" data-slide-to="destination.id"></li>
			  		{%endif%}
			  	{%endfor%}
		    </ol>
		    <div class="carousel-inner">
		    	{% for destination in destinations %}
			    	{% if forloop.first %} 
			    		<div class="carousel-item active caro_fix" id="destination.id">
					      	<a data-toggle="modal" href="#mymodal-{{destination.id}}"><img src="{{destination.pretty_picture.url}} " class="d-block w-100 ssimg" /></a>
					        <div class="carousel-caption d-none d-md-block darkbg">
					          <h2>{{destination.name}}</h2>
					          <p>{{destination.activities}}</p>
					        </div>
				      </div>
			    	{% else %}
				        <div class="carousel-item caro_fix" id="destination.id">
					      	<a data-toggle="modal" href="#mymodal-{{destination.id}}"><img src="{{destination.pretty_picture.url}} " class="d-block w-100 ssimg" /></a>
					        <div class="carousel-caption d-none d-md-block darkbg">
					          <h2>{{destination.name}}</h2>
					          <p>{{destination.activities}}</p>
					        </div>
				        </div>
				       
				    {%endif%}
				     <div class="modal fade" id="mymodal-{{destination.id}}" tabindex="-1" role="dialog" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title">{{destination.name}}</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					          <h2>{{destination.name}}</h2>
					          <p>{{destination.description}}</p>
					          <p>{{destination.activities}}</p>
					          <p>The Best Time to Visit:{{destination.optimal_visiting_season}}</p>
					      </div>
					      <div class="modal-footer">
					      	<a href="{% url 'destination-update' destination.id %}">
					        <button type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
					    	</a>
					        <a href="{% url 'destination-delete' destination.id %}">
					        <button type="button" class="btn btn-secondary"><i class="far fa-trash-alt"></i></button>
					    	</a>
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
					
					<!--<div class="modal1" tabindex="0" role="dialog">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title">{{destination.name}}</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					          <h2>{{destination.name}}</h2>
					          <p>{{destination.description}}</p>
					          <p>{{destination.activities}}</p>
					          <p>The Best Time to Visit:{{destination.optimal_visiting_season}}</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal1">Close</button>
					      </div>
					    </div>
					  </div>
					</div>-->
			      {% endfor %}
		    </div>
		     
		    <a class="carousel-control-prev" href="#dest" role="button" data-slide="prev">
		      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="carousel-control-next" href="#dest" role="button" data-slide="next">
		      <span class="carousel-control-next-icon" aria-hidden="true"></span>
		      <span class="sr-only">Next</span>
		    </a>
	   
	  </div>
	</div>
  
 
</div>
{% endblock content %}
{% block script %}
{% endblock script %}	